@font-face {
  font-family: "Saiyan-Sans";
  src: url(./font/Saiyan-Sans.ttf);
}

.saiyan-sans {
  font-family: "Saiyan-Sans";
}

.version {
  padding: 10px;
  font-size: 0.8em;
  font-style: italic;
  color: #999;
  position: absolute;
  position: absolute;
  bottom: 0;
  right: 0;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(250, 233, 0);
  padding: 15px;
  text-align: center;
}

#canvas {
  padding-top: 0em;
  left: 0em;
  display: inline;
  z-index: 0;
  top: 0px;
  position: relative;
  z-index: -1;
}

h1 {
  font-size: 2em;
  text-align: center;
}

.aura {
  width: 100%;
  margin: auto;
  z-index: 1;
  position: fixed;
  top: 50px;
  right: 25px;
  display: none;
}

@keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

#shake {
  display: inline-block;
  margin: 0 0 20px 0;
  width: 100%;
  padding: 0px;
  text-align: center;
  animation-name: shake;
  animation-duration: 0.5s;
  transform-origin: 50% 50%;
  animation-iteration-count: 3;
}

.buttons {
  padding: 10px;
}

#label-container {
  display: none;
}

/* 
.auraTest {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  animation: aura-color 1s ease-in-out infinite alternate;
}

.auraTest::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  animation: aura-gradient 2s ease-in-out infinite;
}

@keyframes aura-color {
  0% {
    box-shadow: 0 0 30px 20px rgba(255, 255, 0, 0.8);
  }
  50% {
    box-shadow: 0 0 60px 40px rgba(255, 255, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 30px 20px rgba(255, 255, 0, 0.8);
  }
}

@keyframes aura-gradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.glow-border {
  border: 3px solid #fff;
  border-radius: 10px;
  width: 200px;
  height: 100px;
  position: relative;
  animation: glow 2s infinite;
}

.glow-border:before,
.glow-border:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 10px;
}

.glow-border:before {
  box-shadow: 0 0 20px #a43131;
  animation: pulse 2s infinite;
}

.glow-border:after {
  box-shadow: 0 0 50px #1f455c;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes glow {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255,255,255,0.7);
  }
  100% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(255,255,255,0);
  }
} */

.aurabox {
  position: relative;
  z-index: -1;
  background-color: #fff;
  padding: 0;
}

.aurabox:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: inherit;
  box-shadow: 0 0 20px #fd0;
  animation: pulse1 1.5s ease-in-out infinite;
}

@keyframes pulse1 {
  0% {
    box-shadow: 0 0 0px rgb(255, 185, 0);
  }

  50% {
    box-shadow: 0 0 10px rgb(255, 190, 0);
  }

  100% {
    box-shadow: 0 0 0px rgb(255, 195, 0);
  }
}

@keyframes pulse2 {
  0% {
    box-shadow: 0 0 20px rgb(255, 195, 0);
  }

  50% {
    box-shadow: 0 0 200px rgb(255, 205, 0);
  }

  100% {
    box-shadow: 0 0 20px rgb(255, 215, 0);
  }
}

@keyframes pulse3 {
  0% {
    box-shadow: 0 0 500px #fd0;
  }

  50% {
    box-shadow: 0 0 100% #fd0;
  }

  100% {
    box-shadow: 0 0 500px #fd0;
  }
}

.mobile-message {
  display: none;
  background-color: #f68d2e;
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 9999;
  opacity: 0;
  animation: slideDown 0.5s forwards;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
  width: 90%;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 767px) {
  .mobile-message {
    display: block; /* Display the element on mobile devices */
  }
  .body {
    display: none;
  }
}

/* Text animation */

.animate-reveal {
  opacity: 0;
  -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  -moz-animation: reveal 1s ease-in 1 normal forwards;
  -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-text {
  font: bold 1.5em sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.animate-now {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}

.animate-0 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.animate-1 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

.animate-2 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}

.animate-3 {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}

.animate-4 {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

/* User profile */

.padding {
  padding: 3rem !important;
}

.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top);
  background: linear-gradient(to right, rgb(255, 191, 0), rgb(245, 143, 95));
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-propic {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: white;
}

.user-card-full .social-link li a:hover {
  color: rgb(201, 0, 0);
}
